<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tempreture.android.csulb.edu.fitbitapp">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DashboardMainActivity"
            android:screenOrientation="portrait"
            android:label="My Stats - Today">
        </activity>
        <activity android:name=".LoginActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashBoardDetailActivity"
            android:label="My Stats - Last 14 Days"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardMainActivity" />
        </activity>
        <activity
            android:name=".CreateChallengeActivity"
            android:screenOrientation="portrait"
            android:label="Create a new Challenge">
            android:configChanges="orientation|keyboardHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewChallenges" />
        </activity>
        <activity
            android:name=".ViewChallenges"
            android:label="Challenge Overview">
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name=".TrophiesActivity"
            android:label="Archievements"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>

        <activity android:name=".UserProgress"
            android:label="Challenge Progress"
            android:exported="true"
            android:largeHeap="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewChallenges" />
        </activity>

        <!--For logging in to web api-->
        <activity android:name=".FitbitApi" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".UserActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name=".EasySocialAuthActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"></activity>

    </application>
</manifest>